html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #ccc;
}

.container {
  max-width: 800px;
  margin: 10px auto 0;
  background-color: #fff;
}

.flag-white {
  width: 2%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  position: absolute;
}
.flag {
  display: block;
  width: 98%;
  margin-left: 2%;
  padding-top: 65.33%;
  background-color: #e30a17;
  position: relative;
}

.white-moon {
  display: block;
  width: 33.3%;
  padding-top: 33.3%;
  border-radius: 100%;
  top: 25%;
  left: 16.6%;
  background-color: white;
  position: absolute;
}

.red-moon {
  display: block;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background-color: #e30a17;
  position: absolute;
  top: 10%;
  left: 22.5%;
}

.star {
  width: 16.66%;
  padding-top: 16.66%;
  position: absolute;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: #fff;
  top: 37.5%;
  left: 46.16%;
  transform: rotate(-90deg);
}
